{% extends 'base_index.html' %}
{% load static %}

{% block titulo %}{{ titulo.titulo }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'index/css/index.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Inserindo as variáveis de configuração diretamente no CSS -->
<style>
    .col-md-9 {
        background-color: {{ lado_esquerdo.background }};
        color: {{ lado_esquerdo.cor_letra_texto }};
        border-radius: 2px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 0.7rem;
        font-family: {{ lado_esquerdo.estilo_letra_texto }};
    }
    .h2esquerda {
        color: {{ lado_esquerdo.cor_letra_titulo }};
        font-family: {{ lado_esquerdo.estilo_letra_titulo }};
    }

    .col-md-3 {
        background-color: {{ lado_direito.background }};
        color: {{ lado_direito.cor_letra_texto }};
        border-radius: 2px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 0,7rem;
        font-family: {{ lado_direito.estilo_letra_texto }};
        text-align: center;
    }
    .h2direita {
        color: {{ lado_direito.cor_letra_titulo }};
        font-family: {{ lado_direito.estilo_letra_titulo }};
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Coluna esquerda -->
        <div class="col-md-9">
            {% if lado_esquerdo %}
                {% if lado_esquerdo.logo %}
                    <br>
            <center><img src="{{ lado_esquerdo.logo.url }}" alt="Logo" width="{{ tamanho.largura }}" height="{{ tamanho.altura }}" class="img-fluid" style="border-radius: 1%; max-width: 100%; "></center>
                    <h2 class="h2esquerda">
                        {% if nome %}
                            {{ nome }}
                        {% else %}
                            Nome não disponível
                        {% endif %}
                    </h2>
                {% endif %}
            {% else %}
                <p>Informações do lado esquerdo não disponíveis.</p>
            {% endif %}

            <p class="texto-esquerdo"><h6>{{ lado_esquerdo.texto }}</h6></p>
     <hr>
<h6>
                <a href="#"><span class="badge text-bg-dark">Conheça nosso espaço</span></a>
                <a href="#"><span class="badge text-bg-dark">Cardápio</span></a>
                <a href="#"><span class="badge text-bg-dark">Registre-se</span></a>
                <a href="#"><span class="badge text-bg-dark">Área de membros</span></a>
</h6>
        </div>


        <!-- Coluna direita -->
        <div class="col-md-3">
            <br>
            <h2 class="h2direita">{{ lado_direito.titulo }}</h2>
            <hr>
            <p class="texto-direito"><h6>{{ lado_direito.texto }}</h6></p>


  <center>
      <div class="card" style="width: 15rem; background-color: rgba(255, 255, 255, 0.5); border: none;">
           <img src="{{ aviso.img_aviso.url }}" alt="Logo" width="{{ aviso.largura }}" height="{{ aviso.altura }}" class="img-fluid" style="border-radius: 1%; max-width: 100%; ">
                <div class="card-body">
                    <p class="card-text">{{ aviso.texto }}</p>
                </div>
      </div>
  </center>



<br><br><br><hr>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
