/* Estilo geral para os links */
.links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* Estilo para os links com marca-texto fixo */
.links a {
    text-decoration: none;          /* Remove o sublinhado do link */
    padding: 5px 20px;             /* Espaçamento interno */
    font-size: 15px;                /* Tamanho da fonte */
    color: #F5FFFA;                 /* Cor do texto */
    background-color: #A9A9A9;      /* Cor de fundo azul claríssimo (marca-texto fixo) */
    border-radius: 5px;             /* Bordas arredondadas */
    transition: background-color 0.9s ease; /* Transição suave se precisar */
}

/* Efeito ao passar o mouse (pode ser opcional) */
.links a:hover {
    background-color: red;      /* Um tom um pouco mais escuro de azul claríssimo */
    color: yellow;                  /* Cor do texto quando passa o mouse */
}
